In [1]:
import pandas as pd

In [2]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [19]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
pandas_series = pd.Series([4,8,15,16,23,42])
pandas_series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [20]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.
var = [1,2,3,4,5,6,7,8,9,10]
v = pd.Series(var)
v

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [17]:
# Q3. Create a Pandas DataFrame that contains the following data:

df = ({"Name" : ['Alice','Bob','Claire'],
       "Age" : [25,30,27],
       "Gender" : ["Female","Male","Female"]})
df1 = pd.DataFrame(df)
df1

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [21]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
# --> In pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It is like a spreadsheet or SQL table, where each column can be of a different data type (e.g., integer, float, string, etc.). DataFrames are very versatile and can be used for various data manipulation tasks like filtering, grouping, joining, and more.
# --> On the other hand, a pandas Series is a one-dimensional labeled array capable of holding any data type (e.g., integers, strings, floats, Python objects, etc.). It is like a single column of data or a single row in a DataFrame. Series can be created from lists, arrays, or dictionaries.
# Example :-
import pandas as pd

# Creating a DataFrame
data = {'Name': ['John', 'Alice', 'Bob'],
        'Age': [25, 30, 35],
        'Gender': ['Male', 'Female', 'Male']}
df = pd.DataFrame(data)
print("DataFrame:")
print(df)
print()

# Creating a Series
ages = pd.Series([25, 30, 35])
print("Series:")
print(ages)

DataFrame:
    Name  Age  Gender
0   John   25    Male
1  Alice   30  Female
2    Bob   35    Male

Series:
0    25
1    30
2    35
dtype: int64

In [22]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?
# --> Some common functions you can use to manipulate data in a Pandas DataFrame are : head(),tail(),info(),describe(),drpna(),fillna(),astype(),groupy(),merge(),join(),concat(),apply(),sort_values(),pivot_table(),rename(),drop().

In [23]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
# --> Among Series, DataFrame, and Panel in pandas, only DataFrame is mutable in nature. A mutable object can be changed after it is created.

In [24]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.
import pandas as pd

# Creating Series
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])
genders = pd.Series(['Female', 'Male', 'Male'])

# Creating DataFrame using multiple Series
data = {'Name': names, 'Age': ages, 'Gender': genders}
df = pd.DataFrame(data)

# Displaying the DataFrame
print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   35    Male